body {
    padding: 0px;
    margin: auto 0;
    width: 100vw;
    height: fit-content;
    overflow: hidden !important;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html {
    user-select: none;
}

ul {
    position: fixed;
    top: 50%;
    left:100px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style: none;
    height:100px;
}

ul li {
    background-color: white;
    color: black;
    padding:5px;
    cursor: pointer;
    height: fit-content;
    font-size: 22px;
    letter-spacing: 2px;
}

ul li:active {
    transform: scale(0.9);
}

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;

}

section > div > h1 {
    font-size:22px;
    letter-spacing: 2px;
    color: white;
    background-color: black;
    width: fit-content;
    padding: 5px;
    cursor: pointer;
}

section > h1:active {
    transform: scale(0.9);
}

#section1 {
   
    background-image: url("nature.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section2 {
    background-image: url("nature2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#section3 {
    background-image: url("nature3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

p.detail {
    display: none;
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
    font-size:16px;
    letter-spacing: 2px;
}



@media only screen and (max-width:600px) {
   

    ul {
        position: fixed;
        top: 5px;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width:100%;
        padding: 0px;
       
    }

    ul li {
        background-color: white;
        color: black;
        padding:5px;
        cursor: pointer;
        height: fit-content;
        font-size:3vw;
        letter-spacing: 2px;
    }
    
    ul li:active {
        transform: scale(0.9);
    }

    p.detail {
        display: none;
        color: white;
        text-align: center;
        background-color: black;
        padding: 5px;
        font-size:3vw;
        letter-spacing: 2px;
    }

    section > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90%;
    
    }
}